<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<display-name>Comics</display-name>

	<servlet>
		<servlet-name>ImageServlet</servlet-name>
		<servlet-class>mdettlaff.comics.web.ImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ImageServlet</servlet-name>
		<url-pattern>/image</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DownloadServlet</servlet-name>
		<servlet-class>mdettlaff.comics.web.DownloadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownloadServlet</servlet-name>
		<url-pattern>/download</url-pattern>
	</servlet-mapping>
</web-app>
